body {
  background-color: rgb(50,150,200);
  font-family: "Arial";

}
a{
    color: rgb(0,0,0); 
  }
h2 {
  color:rgb(256,256,256);
}

.row{
  height: 50px;
}

.screenrow{
  min-width: 100%;
  min-height: 30px;
  position: relative;
  background-color: green;
}
.screen{
  bottom: 1px;
  right: 1px;
  text-align: right;
  vertical-align: bottom;
  position: absolute;
}
.numberbutton{
  float: left;
  padding: 5px;
  margin: 2px;
  width: 30px;
  border: solid black 1px;
  background-color: olive;
  display: inline;
}


.numberbuttonequal{
  float: left;
  padding: 5px;
  margin: 2px;
  width: 80px;
  border: solid black 1px;
  background-color: olive;
  display: inline;
}
.quotebox{
  position: absolute;
  text-align:center;
  left: 30%;
  height: 50%;
  padding: 2%;
  margin-top: 3%;
  background-color:red;
  border: 3px;
  border-color: black;
  border-radius:35px;
}
